aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
asyncpg==0.31.0
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
dataclasses-json==0.6.7
distro==1.9.0
dnspython==2.8.0
email-validator==2.3.0
et_xmlfile==2.0.0
fastapi==0.118.0
frozenlist==1.8.0
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
idna==3.10
iniconfig==2.3.0
jiter==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
anthropic
langchain
langchain-community
langchain-anthropic
langchain-voyageai
langchain-experimental
langchain-text-splitters
langgraph
lxml==6.0.2
marshmallow==3.26.1
MouseInfo==0.1.3
multidict==6.7.0
mypy_extensions==1.1.0
numpy==2.3.3
openpyxl==3.1.5
orjson==3.11.3
ormsgpack==1.10.0
packaging==25.0
pandas==2.3.3
passlib==1.7.4
python-jose[cryptography]==3.3.0
pgvector>=0.4.2
pillow==12.0.0
pluggy==1.6.0
propcache==0.4.0
psycopg2-binary==2.9.11
PyAutoGUI==0.9.54
pydantic==2.11.10
pydantic-settings==2.11.0
pydantic_core==2.33.2
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==1.0.9
pyodbc==5.2.0
pypdf==6.1.1
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
pytest==9.0.2
pytest-asyncio==1.3.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-multipart==0.0.21
pytweening==1.2.0
pytz==2025.2
PyYAML==6.0.3
regex==2025.9.18
requests==2.32.5
requests-toolbelt==1.0.0
sentinels==1.1.1
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.43
starlette==0.48.0
tenacity==9.1.2
tiktoken==0.11.0
tqdm==4.67.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uuid_utils==0.12.0
uvicorn==0.37.0
wheel==0.45.1
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
alembic
bcrypt==4.0.1
PyPDF2
tabulate
feedparser
yfinance
